.container {
  width: 90%;
  margin: auto;
}

.win-button, .loss-button {
  width: 100px;
}

.results-list {
  margin-top: 15px;
}

.ui.grid + .stats-counts {
  margin-top: 2rem;
}

.results-data, .results-head {
  border: 1px solid black;
  text-align: center;
  width: 250px;
}

th, td {
  border: 1px solid black;
  text-align: center;
  width: 60px;
}
