.container {
  width: 90%;
  margin: auto;
}

.win-button, .loss-button {
  width: 100px;
}

.results-list {
  margin-top: 15px;
}

.ui.grid + .stats-counts {
  margin-top: 2rem;
}

.ui.table .tr-heroClass th {
  cursor: auto;
  background: #f0f0f0;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  border-left: none;
}

.ui.table td.no-results {
  background: #f7f7f7 !important;
  color: #000000 !important;
}