.container {
  width: 90%;
  margin: auto;
}

.win-button, .loss-button {
  width: 100px;
}

.ui.table .tr-heroClass th {
  cursor: auto;
  background: #f0f0f0;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  border-left: none;
}

.ui.table td.no-results {
  background: #f7f7f7 !important;
  color: #000000 !important;
}

.ui.grid > .ui.statistics.column {
  padding-bottom: 0;
}

.ui.grid > .ui.statistics.column .statistic {
  margin-bottom: 0;
}

.ui.segment.table-loading {
  padding: 0px;
}

.loading-div {
  height: 390px;
}